
# .NET - Ignorar todo lo generado
bin/
obj/
packages/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.log
*.tmp

# Visual Studio
.vs/
*.pubxml
*.pubxml.user

# NuGet
*.nupkg
project.lock.json
artifacts/

# Publicación
publish/

